// body,html,main,header,footer

// html {
// }

// .outer-wrapper {
//     margin: $site-gutter;
// }

// .inner-wrapper {
// }

// h1, h2, h3, h4, h5, h6 {
//     margin: 0;
// }


html {
    font-family: $font-base;
}

body {
    margin: $site-gutter;
    user-select: none;
    background-image: url("/public/images/jpg/mathBg.jpg");
    background-color: rgba(3, 0, 0, 0.7); /* white color with 50% opacity */
    background-blend-mode: overlay; /* blend the background color with the image */
    background-repeat: repeat;
    // background-size: contain;
    background-size: auto;

    @include breakpoint(mobile) {
        margin: $site-gutter-mobile;
    }
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    transition: background-color 0.3s ease;
    position: sticky;
    top: 20px;
    padding: 0 20px;
    z-index: 1000;

    @include breakpoint(mobile) {
        top: 10px;
    }
}

main {
    margin: $content-gutter-vert 0;
    padding: $content-padding;
    background-color: $bg-primary;
    border: 6px solid $bg-secondary;

    &:hover {
        box-shadow: 0px 0px 20px 2px $bg-secondary;
    }

    @include breakpoint(mobile) {
        padding: $content-padding-mobile;
        margin: $content-gutter-vert-mobile 0;
    }
}

