@use "../theme/variables";
@use "../tools/mixins/breakpoints";

// body,html,main,header,footer

// html {
// }

// .outer-wrapper {
//     margin: $site-gutter;
// }

// .inner-wrapper {
// }

// h1, h2, h3, h4, h5, h6 {
//     margin: 0;
// }


html:not(.html-v2) {
    font-family: variables.$font-base;
}

.html-v2 {
    font-family: variables.$coolvetica;
    scroll-behavior:smooth;
}

body:not(.body-v2) {
    margin: variables.$site-gutter;
    user-select: none;
    background-image: url("/public/images/jpg/mathBg.jpg");
    background-color: rgba(3, 0, 0, 0.7); /* white color with 50% opacity */
    background-blend-mode: overlay; /* blend the background color with the image */
    background-repeat: repeat;
    // background-size: contain;
    background-size: auto;

    @include breakpoints.breakpoint(mobile) {
        margin: variables.$site-gutter-mobile;
    }
}

.body-v2 {
    margin: variables.$site-gutter;
    margin-bottom: 0;
    user-select: none;
    background-color: variables.$bg-white;

    @include breakpoints.breakpoint(mobile) {
        margin: variables.$site-gutter-mobile;
        margin-bottom: 0;
    }
}

header:not(.header-v2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    transition: background-color 0.3s ease;
    position: sticky;
    padding: 0 20px;
    z-index: 1000;
    top: 0;
}

main:not(.main-v2) {
    margin: variables.$content-gutter-vert 0;
    padding: variables.$content-padding;
    background-color: variables.$bg-primary;
    border: 6px solid variables.$bg-secondary;

    &:hover {
        box-shadow: 0px 0px 20px 2px variables.$bg-secondary;
    }

    @include breakpoints.breakpoint(mobile) {
        padding: variables.$content-padding-mobile;
        margin: variables.$content-gutter-vert-mobile 0;
    }
}

.main-v2 {
    margin: variables.$content-gutter-vert 0;

    @include breakpoints.breakpoint(mobile) {
        margin: variables.$content-gutter-vert-mobile 0;
    }
}

.scroll-centered {
    scroll-margin-top: 10vh;
}

summary {
    cursor: pointer;
}