@use "../theme/variables";
@use "../tools/mixins/font";

// titles

.page-title {
    @include font.font(variables.$font--title, 36px, 2px, 700);
    font-family: variables.$font-decorative, variables.$font-base;
    animation: slide-up 1s ease;
    // Callie Chalk Font
    text-align: center;
}

.v2page-title {
    text-transform: uppercase;
    font-family: variables.$coolvetica;
    // width: 100%;
    // animation: slide-up 1s ease;
    @include font.font(variables.$font--title--large, 36px, 2px, 700);
    // text-align: center;
}

@keyframes slide-up{
    0%{
        opacity: 0;
        transform:translateY(20px);
    }
    100%{
        opacity:1;
        transform:translateY(0px);
    }
}
