@use "../theme/variables";
@use "../tools/mixins/font";

// titles

.page-title {
    @include font.font(30px, 36px, 2px, 700);
    font-family: variables.$font-decorative, variables.$font-base;
    animation: slide-up 1s ease;
    // Callie Chalk Font
    text-align: center;
}

@keyframes slide-up{
    0%{
        opacity: 0;
        transform:translateY(20px);
    }
    100%{
        opacity:1;
        transform:translateY(0px);
    }
}