@use "../theme/variables";
@use "../tools/mixins/bg-image-properties";
@use "../tools/mixins/breakpoints";
@use "../tools/mixins/font";

.contact {
    display: flex;
    flex-direction: row;
    border: 6px solid variables.$bg-secondary;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    @include breakpoints.breakpoint(nav) {
        flex-direction: column;
        align-items: center;
    }
}

.contact__item__wrapper {
    position: relative;
    flex: 1 0 auto;
    height: 400px;

    @include breakpoints.breakpoint(nav) {
        width: 100%;
    }

    &:hover {
        .contact__item__text {
            opacity: 1;
        }
    }
}

.contact__item--linkedin,
.contact__item--email,
.contact__item--whatsapp {
    @include bg-image-properties.bg-image-properties;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        opacity: 0;
        transition: opacity 0.3s;

        @include breakpoints.breakpoint(tablet) {
            transition: opacity 0.5s;
        }
    }

    &:hover {
        &::before {
            opacity: 1;
        }
    }
}

.contact__item--linkedin {
    background-image: url("/public/images/jpg/linkedinLogo.jpg");
}
.contact__item--email {
    background-image: url("/public/images/jpg/emailLogo.jpg");
}
.contact__item--whatsapp {
    background-image: url("/public/images/jpg/whatsappLogo.jpg");
}


.contact__item__text {
    @include font.font(16px, 24px, 0.5px, 600, variables.$text-primary);
    opacity: 0;
    text-align: center;
    transition: opacity 0.8s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: variables.$pacific-cyan;
    padding: 20px;

    @include breakpoints.breakpoint(tablet) {
        transition: opacity 0.1s ease;
    }

    a {
        color: variables.$text-greyed;
    }

    @include breakpoints.breakpoint(tiny) {
        @include font.font(14px, 18px, 0.5px, 500);
    }
}
