@mixin font($fontSize, $lineHeight, $spacing: normal, $fontWeight: 400, $color: null) {
    font-size: $fontSize;
    line-height: $lineHeight;
    letter-spacing: $spacing;
    font-weight: $fontWeight;
    @if $color != null {
        color: $color;
    }
}