.contact {
    display: flex;
    flex-direction: row;
    margin: 10px 20px;
    border-radius: 0.5rem;
    border: 6px solid $bg-secondary;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    @include breakpoint($nav) {
        flex-direction: column;
        align-items: center;
        margin: 10px 10px;
    }

    .contact__item__wrapper {
        position: relative;
        width:33.3%;
        height: 500px;

        @include breakpoint($nav) {
            width: 100%;
        }

        &:hover {
            .contact__item__text {
                opacity: 1;
            }
        }
    }

    .contact__item--linkedin {
        @include bg-image-properties;
        background-image: url("/static/images/jpg/linkedinLogo.jpg");

    }
    .contact__item--email {
        @include bg-image-properties;
        background-image: url("/static/images/jpg/emailLogo.jpg");
    }
    .contact__item--whatsapp {
        @include bg-image-properties;
        background-image: url("/static/images/jpg/whatsappLogo.jpg");
    }

    .contact__item--linkedin::before,
    .contact__item--email::before,
    .contact__item--whatsapp::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9); /* Adjust the opacity as desired */
        opacity: 0;
        transition: opacity 0.3s;
    }

    .contact__item--linkedin:hover::before,
    .contact__item--email:hover::before,
    .contact__item--whatsapp:hover::before {
        opacity: 1;
      }

    .contact__item__text {
        opacity: 0;
        text-align: center;
        color: $text-primary;
        font-size: 1.1rem;
        font-weight: 600;
        // letter-spacing: 0.05em;
        transition: opacity 0.8s ease;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $pacific-cyan;
        padding: 20px;
        @include br(0.1rem);

        a {
            color: $text-greyed;
        }
    }

}
