@use "../tools/mixins/breakpoints";

.external-link-svg {
    width: 40px;
    height: 40px;

    @include breakpoints.breakpoint(tablet) {
        width: 30px;
        height: 30px;
    }

    @include breakpoints.breakpoint(mobile) {
        width: 24px;
        height: 24px;
    }

    @include breakpoints.breakpoint(tiny) {
        width: 18px;
        height: 18px;
    }
}