@use "../theme/variables";
@use "../tools/mixins/breakpoints";
@use "../tools/mixins/font";

.v2homepage__reviews-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    grid-template-areas:
    "comments comments comments"
    "name predicted achieved";
}

.v2homepage__reviews-card--styles {
    @include font.font(variables.$font--standard, 20px, 1px, 400, variables.$c-black-fade);
    font-family: variables.$futura-cyrillic-medium;
    padding: 20px;
    background-color: variables.$bg-grey;
}

.v2homepage__reviews-card--comments {
    grid-area: comments;
    text-align: center;
    margin-bottom: 15px;

    a {
        text-decoration: none;
        color: variables.$c-black;
    }
}

.v2homepage__reviews-card-field {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

.v2homepage__reviews-card--value {
    font-family: variables.$futura-cyrillic-demi;
    color: variables.$c-black;
}

.v2homepage__reviews-card--name {
    grid-area: name;
}

.v2homepage__reviews-card--predicted {
    grid-area: predicted;
}

.v2homepage__reviews-card--achieved {
    grid-area: achieved;
}