@use "../theme/variables";
@use "../tools/mixins/breakpoints";

.v2homepage__name {
    text-transform: uppercase;
    font-size: 11vw;
    width: 100%;
}

.v2homepage__job-title {
    text-align: right;
}

// .homepage__image {
//     padding: 30px 0;

//     @include breakpoints.breakpoint(mobile) {
//         padding: 20px 0;
//         margin: 0;
//     }

//     img {
//         aspect-ratio: 85 / 47;
//         width:70%;
//         box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
//         border: 3px solid variables.$bg-secondary;
//         transition: transform 0.5s ease;

//         &:hover {
//             transform: scale(1.01);
//         }

//         @include breakpoints.breakpoint(nav) {
//             width: 100%;
//         }
//     }
// }