@use "../theme/variables";
@use "../tools/mixins/breakpoints";
@use "../tools/mixins/font";

.v2homepage__contact-item {
    color: inherit;
    text-decoration: none;
    font-family: variables.$coolvetica;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid variables.$c-grey;
    padding: 10px 0;

    &:last-child {
        border-bottom: 1px solid variables.$c-grey;
    }
}

.v2homepage__contact--label {
    text-transform: uppercase;
    font-size: clamp(2rem, 4rem, 6rem);

    &::after {
        padding-left: 5px;
        content: "\2197"; /* Unicode escape sequence */
    }
}

.v2homepage__contact--value {
    color: variables.$c-black-fade;
}