
.homepage {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px 200px;
    cursor: default;

    .homepage__title {
        font-family: 'Chalkduster', sans-serif;
    }

    .homepage__body__biopic {
        padding: 30px 0;

        img {
            width:60%;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border: 3px solid $bg-secondary;
            transition: transform 0.5s ease;

            &:hover {
                transform: scale(1.01);
            }
        }
    }

    [class^="homepage__body"] div {
        text-align: left;
    }

    .homepage__header__title,
    .homepage__body__title {
        transform: scale(1);
        /* transition: transform 0.2s ease; */
    }

    .homepage__header__title:hover,
    .homepage__body__title:hover {
        transform: scale(1.05);
    }
}
