
.homepage {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.homepage__image {
    padding: 30px 0;

    @include breakpoint(mobile) {
        padding: 20px 0;
        margin: 0;
    }

    img {
        width:70%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border: 3px solid $bg-secondary;
        transition: transform 0.5s ease;

        &:hover {
            transform: scale(1.01);
        }

        @include breakpoint(nav) {
            width: 100%;
        }
    }
}

.homepage__background div,
.homepage__approach div {
    text-align: left;
}

.homepage__title {
    transform: scale(1);
}

.homepage__title:hover {
    transform: scale(1.05);
}

.homepage__link {
    font-weight: bold;
}