.reviews--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    justify-items: center;
    align-items: start;
    margin: 0 80px;

    @include breakpoint(nav) {
        margin: 0 30px;
    }

    @include breakpoint(mobile) {
        grid-template-columns: 1fr 1fr;
        margin: 0px;
    }

    .page-break {
        grid-column: 1 / 4;

        @include breakpoint(mobile) {
            grid-column: 1 / 3;
        }
    }
}

.reviews__item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}

.reviews--comments {
    text-align: left;
    grid-column: 1 / 4;

    @include breakpoint(mobile) {
        grid-column: 1 / 3;
    }
}