@use "../theme/variables";
@use "../tools/mixins/border-radius";
@use "../tools/mixins/breakpoints";
@use "../tools/mixins/font";

.field {
    label {
        @include font.font(18px, 20px, normal, 600);
    }

    .error {
        border: 1px solid variables.$c-red;
        background-color: variables.$c-pink;
        width: fit-content;
        padding: 10px;
        border-radius: 0.5rem;
    }
}

select,
input,
textarea {
    box-sizing: border-box;
}

.field__value {
    margin: 10px 0;

    select,
    input {
        width: 40%;
        min-height: 35px;
        padding: 0 10px;
        cursor: pointer;

        @include breakpoints.breakpoint(nav) {
            width: 100%;
        }
    }

    select {
        @include border-radius.br(0.5rem);
    }

    textarea {
        width: 100%;
    }
}

.field--textarea {
    font-family: variables.$font-base;
    padding: 15px;

    &::placeholder {
        font-family: variables.$font-alt;
        font-style: italic;
    }
}

input.field--rating,
input.field--number {
    width: 80px;
}