.footer {
    border: 3px solid $bg-secondary;
    background-color: $bg-primary;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px;

    &:hover {
        box-shadow: 0px 0px 20px 2px $bg-secondary;
    }

    .footer__lhs,
    .footer__rhs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


.footer__rhs__container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;

    .footer__rhs__icon--email {
        width: 40px;
        height: auto;
    }

    .footer__rhs__icon--whatsapp {
        height: 35px;
        width: auto;
    }
}
