@use "../theme/variables";
@use "../tools/mixins/breakpoints";

.footer {
    border: 3px solid variables.$bg-secondary;
    background-color: variables.$bg-primary;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 5px 20px;

    &:hover {
        box-shadow: 0px 0px 20px 2px variables.$bg-secondary;
    }

    @include breakpoints.breakpoint(mobile) {
        text-align: center;
        padding: 10px 20px;
        gap: 20px;
        flex-direction: column;
    }
}


.footer__socials {
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
    position: relative;
    top: 3px;

    @include breakpoints.breakpoint(mobile) {
        gap: 20px;
    }

    img {
        aspect-ratio: 1 / 1;
    }
}

.footer__socials--icon-email {
    width: 40px;
    height: auto;
}

.footer__socials--icon-whatsapp {
    height: 35px;
    width: auto;
}
