
.header__banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .header__menu {
        cursor: pointer;
        background-color: $bg-primary;
        border: 3px solid $bg-secondary;
        border-radius: 0.3rem;
        margin: 10px 0;

        &:hover {
            box-shadow: 0px 0px 20px 3px $bg-secondary;
        }

        .header__menu__icon {
            width: 50%;
            height: auto;
            transition: transform 0.2s;
        }
    }
}

.menu--active {
    transform: rotate(90deg);
}

.header__logo__title {
    background-color: rgba(3, 0, 0, 0.2); /* white color with 50% opacity */
    background-blend-mode: overlay; /* blend the background color with the image */
    border: 6px solid #8E8E8E;
    font-family: "chalkduster", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    line-height: 4rem;
    font-size: 1.5rem;
    text-align: center;
    color: $text-primary;
    padding: 0 20px;
}

.header__navbar {
    z-index: 100;
    border: 3px solid $bg-secondary;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-out;
    position: absolute;
    top:125px;
    left:50px;
    width:300px;
    background-color: $bg-primary;
    /* animation: fadeIn 0.4s; */

    .header__navbar__item {
        padding: 20px 20px;
        display: flex;
        align-items: center;
        color: black;
        transition: box-shadow 0.2s ease;
        cursor: pointer;
        transition: background-color 0,3s ease;

        &:hover {
            font-size: 1.05rem;
            background-color: $pacific-cyan;
            box-shadow: 0px 0px 20px 3px $bg-secondary;
        }

        .header__navbar__item-icon {
            width:10%;
            height: auto;
            padding-right: 15px;
        }
    }
}

.header__navbar--active {
    visibility: visible !important;
    opacity: 1 !important;
}

.header__navbar__item:not(:last-child) {
    border-bottom: 3px solid $bg-secondary;
}


.header__logo__shimmer {
    position: relative;
    overflow: hidden;
}

.header__logo__shimmer::before,
.header__logo__shimmer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;;
    background: linear-gradient(45deg, transparent 50%, #696969 60%, silver 62%, #696969 64%, transparent 74%);
    z-index: -1;
    animation-name: shimmer;
    animation-duration: 3s;
    /* decrease time increase position percent, increase time decrease position percent; */
    animation-iteration-count: infinite;
}

@keyframes shimmer {
    0% {
        transform: translateX(-75%);
    }
    20% {
        transform: translateX(65%);
    }
    100% {
        transform: translateX(100%);
    }
}
