@use "variables";

@font-face {
    font-family: variables.$font-decorative-secondary;
    src: url('/public/fonts/callie-chalk-font.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: variables.$font-decorative;
    src: url('/public/fonts/djb-chalk-it-up.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: variables.$coolvetica-compressed;
    src: url('/public/fonts/coolvetica-compressed-rg.woff') format('woff');
}

@font-face {
    font-family: variables.$coolvetica-condensed;
    src: url('/public/fonts/coolvetica-condensed-rg.woff') format('woff');
}

@font-face {
    font-family: variables.$coolvetica-crammed;
    src: url('/public/fonts/coolvetica-crammed-rg.woff') format('woff');
}

@font-face {
    font-family: variables.$coolvetica;
    src: url('/public/fonts/coolvetica-rg.woff') format('woff');
}

@font-face {
    font-family: variables.$coolvetica-italic;
    src: url('/public/fonts/coolvetica-rg-it.woff') format('woff');
}

@font-face {
    font-family: variables.$futura-cyrillic-book;
    src: url('/public/fonts/futura-cyrillic-book.woff') format('woff');
}

@font-face {
    font-family: variables.$futura-cyrillic-light;
    src: url('/public/fonts/futura-cyrillic-light.woff') format('woff');
}

@font-face {
    font-family: variables.$futura-cyrillic-medium;
    src: url('/public/fonts/futura-cyrillic-medium.woff') format('woff');
}

@font-face {
    font-family: variables.$futura-cyrillic-bold;
    src: url('/public/fonts/futura-cyrillic-bold.woff') format('woff');
}

@font-face {
    font-family: variables.$futura-cyrillic-demi;
    src: url('/public/fonts/futura-cyrillic-demi.woff') format('woff');
}

@font-face {
    font-family: variables.$futura-cyrillic-heavy;
    src: url('/public/fonts/futura-cyrillic-heavy.woff') format('woff');
}