@font-face {
    font-family: $font-decorative-secondary;
    src: url('/public/fonts/callie-chalk-font.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: $font-decorative;
    src: url('/public/fonts/djb-chalk-it-up.woff') format('woff');
    font-display: swap;
}
