// site gutter, colors

// fonts
$font-base: 'Calibri';
$font-decorative: 'DJB Chalk It Up';
$coolvetica: 'Coolvetica';
$coolvetica-compressed: 'Coolvetica Compressed Regular';
$coolvetica-condensed: 'Coolvetica Condensed Regular';
$coolvetica-crammed: 'Coolvetica Crammed Regular';
$coolvetica-italic: 'Coolvetica Regular Italic';
$futura-cyrillic-book: 'Futura Cyrillic Book';
$futura-cyrillic-light: 'Futura Cyrillic Light';
$futura-cyrillic-medium: 'Futura Cyrillic Medium';
$futura-cyrillic-demi: 'Futura Cyrillic Demi';
$futura-cyrillic-heavy: 'Futura Cyrillic Heavy';
$futura-cyrillic-bold: 'Futura Cyrillic Bold';
$font-decorative-secondary: 'Callie Chalk Font';
$font-alt: 'lato', sans-serif;

// font sizes
$font--tiny: 12px;
$font--small: 14px;
$font--standard: 16px;
$font--med: 18px;
$font--large: 20px;
$font--x-large: 24px;

$font--title: 30px;
$font--title-med: 34px;
$font--title--large: 38px;
$font--title--x-large: 48px;

$font-mobile--x-small: 10px;
$font-mobile--small: 12px;
$font-mobile--standard: 14px;
$font-mobile--med: 16px;
$font-mobile--large: 18px;
$font-mobile--x-large: 20px;

$font-mobile--title--small: 22px;
$font-mobile--title--med: 24px;
$font-mobile--title: 26px;
$font-mobile--title--large: 34px;
// $font-large:
// $font-x-large:

// gutters
$site-gutter: 50px;
$site-gutter-mobile: 20px;
$content-gutter-vert: 30px;
$content-gutter-vert-mobile: 20px;
$content-padding: 40px;
$content-padding-mobile: 40px 20px;
$footer-gutter-w: 60px;
$footer-gutter-h: 30px;
$footer-gutter-mobile: 15px;

// Breakpoints
$bp-xlarge: 1600px;
$bp-nav: 1200px;
$bp-tablet: 999px;
$bp-mobile: 550px;
$bp-tiny: 400px;

// color variables

$bg-primary: cornflowerblue;
$bg-secondary: paleturquoise;
$turqgreen: #54dd84;
$text-primary: whitesmoke;
$menu-primary: #6c65ea;
$c-grey: #cccccc;
$c-red: #a52a2a;
$c-pink: lightpink;
$c-white: whitesmoke;
$c-charcoal: #36454f;
$c-catch: #BF3400;

$bg-white: #f2f2f2;
$bg-grey: #EAEAEA;
$c-black: #111111;
$c-black-fade: #111111BF;
$c-grey-2: #11111180;
$c-white-2: #FFFFFF;
$c-white-2-fade: #D0D0D0;
$c-charcoal-2: #333333;
$c-grey-3: #2c2c2c;



// colors

$text-greyed: rgba(41, 52, 61, 0.829);
$light-pink: #FFB4C6;
$faint-purple: #887DFF;
$light-blue: #ADD8E6;
$pacific-cyan: #4CA8C7;
